/* App.css */

.decks {
  display: grid;
  width: 600px;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

html,
body {
  background-color: #d7e2f2; /* Light grey for a modern look */
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.decks li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: default;
  border-radius: 10px;
  height: 100px;
  background: #ffffff; /* Dark background for cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.decks li button {
  position: absolute;
  font-size: 10px;
  top: 3px;
  right: 3px;
  background-color: #dc3927; /* Red for delete button */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.decks li button:hover {
  background: #c0392b; /* Darker red on hover */
}

button {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3498db; /* Blue background for buttons */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.25s;
}

button:hover {
  background-color: #2980b9; /* Darker blue on hover */
  border-color: #2980b9;
}
