#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.decks {
  display: grid;
  width: 600px;
  margin: 0 auto;
  grid-gap: 10px;

  grid-template-columns: repeat(3, 1fr);
}
.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.App form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.decks li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: default;
  border-radius: 10px;
  height: 100px;
  background: #000000;
  border: solid 1px #000;
  color: aliceblue;
}
.decks li button:hover {
  background: #14a894;
  cursor: pointer;
}

.decks li button {
  position: absolute;
  font-size: 10px;
  top: 3px;
  right: 3px;
  background-color: brown;
  color: white;
}

button {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #20548b;
  cursor: pointer;
  transition: border-color 0.25sl;
}
